:root {
    --hot-pink: #E02C6D;
    --white: #ffffff;
    --light-black: #18191F;
    --sky-blue: #2D25A0;
    --navy-blue: #0A0826;
    --light-blue: #10437A;
    --light-gray: #6C6C6C;

}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 68px;
    font-weight: 700;
    
}
h2{
    font-size: 48px;
    font-weight: 700;
}
h3{
    font-size: 28px;
    font-weight: 700;
}
h4{
    font-size: 18px;
    font-weight: 400;
}
p{
    font-size: 16px;
    font-weight: 400;
}
a{
    text-decoration: none;
}

/* Banner Css Start */


.container{
    width: 100%;
    margin-bottom: 100px;
}

.banner-part{
    height: 678px;
    padding: 0 160px;
    background-color: var(--sky-blue);
    display: flex;
}
.banner-text{
    width: 50%;
    margin-left: 100px;
    margin-top: 100px;
}
.banner-text h1{
    color: var(--white);

}
.link-button {
    color: var(--white);
    padding: 10px 25px;
    background-color: var(--hot-pink);
    border-radius: 5px;
    transition: all linear .3s;
}
.link-button i{
    margin-left: 5px;
    
}
.link-button:hover{
    background-color: var(--white);
    color: var(--hot-pink);
    transition: all linear .3s;
}
.banner-thumbnail{
    width: 50%;
    margin-top: 80px;
 
}
.banner-thumbnail img{
    width: 90%;

}
/* Banner Css End */

/* Card Css Start */

.card-layout{
    width: 100%;
    display: flex;
    justify-content: center;
}
.card-part{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.card-info{
    width: 300px;
    background-color: #FFFFFF;
    height: 475px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin: 15px 20px;
    box-shadow: 0px 5px 15px gainsboro;
    border-radius: 5px;
}
.card-thumbnail img{
    width: 100%;
    height: 260px;
    border-radius: 5px;
}
.card-text h3{
    color: var(--light-black);
    margin-top: 16px;
}
.card-text p{
    color: var(--light-gray);
    margin-top: -12px;
}
/* Card Css End */

/* Highlight Css Start */
.highlight-part{
    width: 100%;
    
}
.highlight-details{
    display: flex;
    width: 70%;
    margin: auto;
}
.highlight-info{
    width: 50%;
    padding: 0 100px;
    margin-top: 50px;
}
.highlight-info h2{
    color: var(--navy-blue);
    margin: 10px 0;
    
}
.highlight-info p{
    color: var(--light-gray);
    margin-bottom: 30px;
}
.highlight-info .border{
    border: 1px solid var(--hot-pink);
}
.highlight-thumbnail{
    width: 50%;
    
}
.highlight-thumbnail img{
    width: 100%;
    height: 100%;
}
/* Highlight Css End */

/* Commentary Css Start */
.comm-bg{
    background-color: #eee8e0;
    width: 100%;
    margin-bottom: 100px;
}
.commentary-part{
    width: 30%;
    display: block;
    margin: auto;
    text-align: center;
    padding: 80px 0;
}

.commentary-thumbnail img{
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

.comm-arrow{
   cursor: pointer; 
   font-size: 25px;
}

/* Commentary Css End */

/* Contact Css Start */
#contact-bg{
    background-color: var(--light-black);
}
.middle{
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    color: var(--white);
    padding: 50px 0;
}
.contact-style{
    width: 400px;
    margin: 0 auto;
}
input{
    height: 30px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: white;
    outline: none;
}

textarea{
    height: 100px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 60px;
    outline: none;
    
}
button{
    margin-bottom: 40px;
    border:none;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
}

/* Contact Css End */

/* Footer Css Start */

.footer-part{
    width: 100%;
}
.footer-details{
    width: 485px;
    margin: auto;
}
.logo img{
   width: 90%;
}
.social-icon{
    text-align: center;
}
.icon-media{
    font-size: 16px;
    color: #969BAB;
    padding: 10px;
    background-color: #f0e7e7;
    border-radius: 50%;
    margin: 15px 10px 10px 0;
}
.footer-details p{
    text-align: center;
    font-size: 20px;
    color: var(--light-black);
    margin-bottom: 50px;
}

/* Footer Css End */

/* Device Use  588, 992, 1356px */

/* Css Media Query Start */

@media screen and (max-width: 1356px) {
    .banner-part {
        height: 678px;
        padding: 0 100px;
        background-color: var(--sky-blue);
        display: flex;
    }
    .banner-text {
        width: 50%;
        margin-left: 30px;
        margin-top: 50px;
    }
    .banner-text h1{
        margin-bottom: 20px;
    }
    .banner-thumbnail img {
        width: 100%;
        height: 440px;
    }
    .highlight-details {
        display: flex;
        width: 80%;
        margin: auto;
    }
    .highlight-info {
        width: 50%;
        padding: 0px;
        margin-top: 50px;
    }
    .highlight-thumbnail img{
        padding-left: 50px;
    }
    .commentary-part {
        width: 40%;
        display: block;
        margin: auto;
        text-align: center;
        padding: 80px 0;
    }
}

@media screen and (max-width: 992px) {
    .banner-part{
        height: 678px;
        padding-top: 30px;
        background-color: var(--sky-blue);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .banner-text{
        
        margin-left: 0;
        
    }
    .banner-text h1{
        font-size: 50px;
        color: var(--white);
        margin-block-start: 0;
        margin-block-end: 0;
        padding-bottom: 30px;
        
        
    }
    .banner-text {
        width: 60%;
        margin-left: 100px;
        margin-top: 100px;
    }
    .link-button {
        font-size: 18px ;
        color: var(--white);
        padding: 8px 20px;
        background-color: var(--hot-pink);
        border-radius: 5px;
        transition: all linear .3s;
        
    }
    .link-button i{
        margin-left: 5px;
        
    }
    .link-button:hover{
        background-color: var(--white);
        color: var(--hot-pink);
        transition: all linear .3s;
    }
    .banner-thumbnail {
        width: 70%;
        margin: 50px 0;
        text-align: center;
    }
    .banner-thumbnail img{
        margin-bottom: 50px;
    }

.card-part{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.card-info{
    width: 300px;
}

.highlight-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.highlight-info {
    width: 70%;
    margin: 0;
}
.highlight-thumbnail {
    width: 70%;
}
.highlight-thumbnail img {
    width: 100%;
    height: 100%;
    margin-top: 40px;
    padding-left: 0px;
}

.commentary-part {
    width: 50%;
    display: block;
    margin: auto;
    text-align: center;
    padding: 80px 0;
}

}
@media screen and (max-width: 688px) {

    .banner-part{
        height: 678px;
        padding: 0;
        background-color: var(--sky-blue);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-text{  
        margin-left: 0;
        
    }
    .banner-text h1{
        font-size: 38px;
        color: var(--white);
        margin-block-start: 0;
        margin-block-end: 0;
        padding-bottom: 30px;
    
    }
    .link-button {
        font-size: 14px ;
        color: var(--white);
        padding: 8px 20px;
        background-color: var(--hot-pink);
        border-radius: 5px;
        transition: all linear .3s;
        
    }
    .link-button i{
        margin-left: 5px;
        
    }
    .link-button:hover{
        background-color: var(--white);
        color: var(--hot-pink);
        transition: all linear .3s;
    }
    .banner-thumbnail{
        width: 60%;
        margin: 50px 0;
     
    }
    .banner-thumbnail img{
        height: 340px;
        margin-bottom: 50px;
    }

.card-part{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.card-info{
    width: 460px;
}

.highlight-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.highlight-info {
    width: 70%;
    margin: 0;
}
.highlight-thumbnail {
    width: 70%;
}
.highlight-thumbnail img {
    width: 100%;
    height: 100%;
    margin-top: 40px;
    padding-left: 0px;
}

.commentary-part {
    width: 50%;
    display: block;
    margin: auto;
    text-align: center;
    padding: 80px 0;
}
.logo img{
    width: 85%;
}

}

/* Css Media Query End */